streamlit
langchain
langchain-core
langchain-google-genai
langchain-community
langchain-huggingface
langchain-chroma
sentence-transformers
pypdf
python-docx
unstructured
docx2txt
faiss-cpu
